.home-page{
        margin-bottom: 3%;

    div{
        .display-flex(space-around, center);
        /*background: url('../images/scroll_img\ 1.jpg') no-repeat;
        background-size: 100% 100%;
        height: 50vh;*/

        h3{
            font-size: 4.2rem;
            color: @color-twilight;
            background-color: @color-copper;
            margin: 3%;
            padding: 1% 2%;
            border: @border-3px-black;
        }

    }

    /*---------Content Sections START---------*/
    .content{

        div{
            .display-flex(space-between, center);
            margin: 0 auto;
            background-image: none;
         
            

            img{
                display:inline-block;
                width: 40%;
                height: 40vh;
            }

            section{
                .display-flex(space-around, center);
                flex-direction: column;
              

                h3{
                    color: black;
                    background: @color-twilight;
                    border: @border-3px-copper;
                    font-size: 4.2rem;
                    margin: 3%;
                    padding: 1% 2%;
                }

                p{
                    border:@border-3px-copper;
                    text-align: center;
                    background: @color-twilight;
                    margin: 2% 4%;
                    padding: 1%;
                }
            }
        }

        .betterHairCut{
            flex-direction: row-reverse;
        }
    }
}