/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Cabin', sans-serif;
  margin: 2%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans Narrow', sans-serif;
}
h1,
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header {
  width: 100%;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2% auto;
}
@media (max-width: 500px) {
  header .nav {
    width: 100%;
  }
}
header .nav img {
  width: 40%;
  height: 15vh;
  border: 3px double black;
}
header .nav nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
header .nav nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #C37433;
  border: 3px double black;
  padding: 15px 20px;
  margin: 0 auto;
}
header .nav nav a:hover {
  background: #E4CEDD;
  color: black;
  border-color: #C37433;
}
header img {
  width: 100%;
  height: 10vh;
  margin: 1% 0 1% 2%;
}
footer {
  width: 95%;
  background: #C37433;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
footer h3 {
  display: inline-block;
  /*had to insert or would get block elements only*/
  width: 75%;
  /* !!!!!!?????????? Is it better to be 100%*/
  font-size: 4.2rem;
  color: black;
  text-align: center;
  border: 3px double #E4CEDD;
  padding: 0.5% 1%;
  margin: 1% auto;
}
footer .button {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  background: white;
  border: 3px double #C37433;
  padding: 1%;
  margin: 1% 3%;
}
footer .button:hover {
  background: #E4CEDD;
  color: black;
}
footer p {
  width: 45%;
  color: black;
  text-align: center;
  font-size: 1.8rem;
  border: 3px double #E4CEDD;
  padding: 0.5% 1%;
  margin: 1% auto;
}
.home-page {
  margin-bottom: 3%;
  /*---------Content Sections START---------*/
}
.home-page div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background: url('../images/scroll_img\ 1.jpg') no-repeat;
        background-size: 100% 100%;
        height: 50vh;*/
}
.home-page div h3 {
  font-size: 4.2rem;
  color: #E4CEDD;
  background-color: #C37433;
  margin: 3%;
  padding: 1% 2%;
  border: 3px double black;
}
.home-page .content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% auto;
  background-image: none;
  border: 3px double black;
}
.home-page .content div img {
  display: inline-block;
  width: 40%;
  height: 40vh;
}
.home-page .content div section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.home-page .content div section h3 {
  color: black;
  background: #E4CEDD;
  border: 3px double #C37433;
  font-size: 4.2rem;
  margin: 3%;
  padding: 1% 2%;
}
.home-page .content div section p {
  border: 3px double #C37433;
  text-align: center;
  background: #E4CEDD;
  margin: 2% 4%;
  padding: 1%;
}
.home-page .content .betterHairCut {
  flex-direction: row-reverse;
}
.about-page {
  margin-bottom: 3%;
  /*---------Content Sections START---------*/
}
.about-page h1 {
  text-align: center;
  color: black;
  background: #C37433;
  border: 6px double #E4CEDD;
  font-size: 5rem;
  margin: 3%;
  padding: 1% 2%;
}
.about-page div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('../images/scroll_img\ 1.jpg') no-repeat;
  background-size: 100% 100%;
  height: 50vh;
}
.about-page div h3 {
  font-size: 4.2rem;
  color: #C37433;
  background-color: #E4CEDD;
  margin: 3%;
  padding: 1% 2%;
  border: 3px double black;
}
.about-page .content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: none;
}
.about-page .content div img {
  display: inline-block;
  width: 40%;
  height: 50vh;
}
.about-page .content div section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.about-page .content div section h3 {
  color: black;
  background: #E4CEDD;
  border: 3px double #C37433;
  font-size: 4.2rem;
  margin: 3%;
  padding: 1% 2%;
}
.about-page .content div section p {
  border: 3px double #C37433;
  text-align: center;
  background: #E4CEDD;
  margin: 2% 4%;
  padding: 1%;
}
.about-page .content .row-reverse {
  flex-direction: row-reverse;
}
